.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 200px;
}

.homePageButtonContainer {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
